<header class="navbar bg-base-100 shadow-sm px-6">
  <div class="flex-1">
    <%= link_to t("app.name"), root_path, class: "text-xl font-bold" %>
  </div>

  <div class="flex gap-2">
    <%= link_to t("views.devise.shared.links.sign_up"), new_user_registration_path, class: "btn btn-primary btn-sm" %>
    <%= link_to t("views.devise.shared.links.log_in"), new_user_session_path, class: "btn btn-outline btn-sm" %>
  </div>
</header>
