<% if resource&.errors&.any? %>
  <div class="alert alert-error mb-6">
    <div>
      <p class="font-semibold"><%= t("views.shared.error_messages.title") %></p>
      <ul class="list-disc ml-5 text-sm mt-2">
        <% resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
