<p><%= @resource.name.presence || @resource.email %> 様</p>

<p>「ごはん会議」パスワード再設定の申請を受け付けました。</p>

<p>以下のリンクから、新しいパスワードを設定してください。</p>

<p><%= link_to "パスワードを再設定する", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>※このメールに心当たりがない場合は破棄してください。</p>
<p>※上記リンクにアクセスしない限り、パスワードは変更されません。</p>