<p><%= t("views.devise.mailer.greeting_with_email", email: @resource.email) %></p>

<p><%= t("views.devise.mailer.unlock_instructions.intro") %></p>

<p><%= t("views.devise.mailer.unlock_instructions.instruction") %></p>

<p><%= link_to t("views.devise.mailer.unlock_instructions.action"), unlock_url(@resource, unlock_token: @token) %></p>
